*.swp
*.swo
*~
.vscode

toboot/.obj
toboot/toboot.bin
toboot/toboot.elf
toboot/toboot.ihex

booster/.obj
booster/booster.bin
booster/booster.elf
booster/booster.ihex
booster/make-booster

tests/secure-erase/pass-1/.obj/
tests/secure-erase/pass-1/secure-erase-pass1.bin
tests/secure-erase/pass-1/secure-erase-pass1.elf
tests/secure-erase/pass-1/secure-erase-pass1.ihex

tests/secure-erase/pass-2/.obj/
tests/secure-erase/pass-2/secure-erase-pass2.bin
tests/secure-erase/pass-2/secure-erase-pass2.elf
tests/secure-erase/pass-2/secure-erase-pass2.ihex